:root {
  --darkblue: rgb(55, 46, 128);
  --lightblue: rgb(69, 167, 212);
  --orange: rgb(214, 137, 50);
  --white: rgb(245, 245, 245);
}

html,
body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  border: 1px solid black;
  padding: 5px;
  background: var(--darkblue);
  display: flex;
  justify-content: flex-start;
}

.logo {
  border: 1px solid yellow;
  width: 60px;
}

form {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid red;
}

form > * {
  padding: 5px;
  background: var(--white);
  border: none;
}

form input {
  border-radius: 3px;
}

form button {
  border-radius: 5px;
}